.Page {
    width: 1280px;
    margin-left: 8%;
  
    .HeadImg img {
      margin-top: 33px;
      margin-left: 558px;
      margin-right: 558px;
      width: 164px;
      height: 48px;
      border: 1px solid #707070;
      opacity: 1;
    }
  
    hr {
      margin-top: 40px;
      border: 1.5px black solid;
    }
  
    .navBar {
      margin-top: 20px;
      margin-left: 249px;
      width: 782px;
      height: 26px;
      opacity: 1;
  
      nav {
        div {
          div {
            ul {
              li {
                margin-right: 40px;
                font-weight: 600;
                font-size: large;
              }
            }
          }
        }
      }
    }
  
    .ParaHeading {
      margin-top: 80px;
      width: 548px;
      height: 108px;
      text-align: left;
      font: normal 900 40px/54px Nunito Sans;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      padding-left: 150px;
      text-align: left;
      white-space: nowrap;
  
      p {
        max-height: 40px;
      }
    }
  
    .ParaContent {
      margin-top: 20px;
      margin-left: 151px;
      width: 520px;
      height: 120px;
      text-align: left;
      font: normal 18px/24px Nunito Sans;
      letter-spacing: 0px;
      color: #000;
      opacity: 1;
    }
  
    .Buttons {
      margin-top: 51px;
      text-align: left;
      font: normal normal 600 23px/31px Nunito Sans;
      letter-spacing: 0px;
      color: #FFF;
      opacity: 1;
      padding: 17px 49px 0px 50px;
      border-radius: 50px;
      border: none;
      background-color: rgb(94, 151, 255);
  
      p {
        width: 148px;
        height: 31px;
      }
    }
  
    .Img1 {
      margin-top: -462px;
      margin-left: 600px;
      width: 509px;
      height: 518px;
      opacity: 1;
    }
  
    .design1 {
      margin-top: 164px;
      margin-left: 60px;
      width: 1280px;
      height: 1120px;
      background: #F8FAFC 0% 0% no-repeat padding-box;
      opacity: 1;
  
      .ParaHeading {
        padding-top: 173px;
      }
  
      .cardHolder {
        text-align: center;
        margin-top: 100px;
        margin-left: 100px;
  
        div {
          div {
            div {
              width: 308px;
              height: 320px;
              border-radius: 20px;
              font-weight: 600;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
              h5 {
                padding-top: 38px;
                padding-bottom: 18px;
              }
            }
          }
        }
      }
  
      /**********************************  Heading 1 *******************************/
.Heading1 {
    margin-top: 186px;
    margin-left: 196px;
    width: 890px;
    height: 50px;
    text-align: left;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  /**************************** Image Cards Content  ***************************/
  .ImgCards {
    div .col {
      margin-top: 110px;
      margin-left: 90px;
      width: 328px;
      height: 150px;
      opacity: 1;
      font-weight: 600;
    }
    div div img {
      width: 244px;
      height: 188px;
    }
  }
  
  /**********************************  Heading 2 *******************************/
  .Heading2 {
    margin-top: 400px;
    margin-left: 200px;
    width: 890px;
    height: 50px;
    text-align: left;
    font: normal normal bold 35px/50px Nunito Sans;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
  }
  
  /**********************************  Cards 3  *********************************/
  /********************************  First Cards  *******************************/
  .chkPriceImg2 {
    margin-top: 85px;
    margin-left: 110px;
    width: 70px;
    height: 70px;
    background: transparent url('img/save-money.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .ChkPriceImges p {
    margin-top: 105px;
    margin-left: 40px;
    width: 255px;
    height: 32px;
    text-align: left;
    font: normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    white-space: nowrap;
  }
  
  .ChkPricePara {
    margin-top: 14px;
    margin-left: 105px;
    width: 644px;
    height: 56px;
    text-align: left;
    font: normal 20px/28px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* font-weight: 600; */
  }
  /********************************  Third Cards  *******************************/
.chkPriceImg4 {
    margin-top: 200px;
    margin-left: 110px;
    width: 78px;
    height: 78px;
    background: transparent url('img/hiring.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .ChkPriceImges3 p {
    margin-top: 220px;
    margin-left: 40px;
    width: 253px;
    height: 32px;
    text-align: left;
    font: normal normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    white-space: nowrap;
  }
  
  .ChkPricePara3 {
    margin-top: 14px;
    margin-left: 105px;
    width: 644px;
    height: 56px;
    text-align: left;
    font: normal normal normal 21px/28px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  /********************************  Fourth Cards  ******************************/
  .chkPriceImg5 {
    margin-top: 170px;
    margin-left: 750px;
    width: 90px;
    height: 90px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: transparent url('img/money-back.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .ChkPriceImges4 p {
    margin-top: 200px;
    margin-left: 40px;
    width: 253px;
    height: 32px;
    text-align: left;
    font: normal normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    white-space: nowrap;
  }
  
  .ChkPricePara4 {
    margin-top: 14px;
    margin-left: 750px;
    width: 471px;
    height: 56px;
    text-align: left;
    font: normal normal normal 21px/28px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  /**********************************  Heading 3 *******************************/
  .Heading3 {
    margin-top: 290px;
    margin-left: 456px;
    width: 368px;
    height: 47px;
    text-align: left;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  /**********************************  Cards 4  *********************************/
  /***************************   Background design   ****************************/
  .design2 {
    margin-top: 80px;
    margin-left: 59px;
    width: 1100px;
    height: 363px;
    background: #F8FAFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    opacity: 1;
  }
  
  .design2 p {
    margin-top: -50px;
    margin-left: 125px;
    width: 275px;
    height: 34px;
    text-align: left;
    font: normal normal 900 25px/34px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 900;
  }
  
  .design2 img {
    margin-top: 40px;
    margin-left: 50px;
    width: 64px;
    height: 63px;
    background: transparent url('img/6-06.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  /********************************  First Cards  *******************************/
  .card4 {
    margin-top: 50px;
    margin-left: 130px;
    width: 285px;
    height: 263px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 30px;
    opacity: 1;
  }
  
  .card4Holder .col {
    margin-right: -60px;
  }
  
  .card4 img {
    margin-top: 30px;
    margin-left: 30px;
    width: 42px;
    height: 43px;
    background: transparent url('img/cesar-rincon-XHVpWcr5grQ-unsplash.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .pos1 {
    margin-top: -40px;
    margin-left: 80px;
    width: 54px;
    height: 18px;
    text-align: left;
    font: normal normal 600 13px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    white-space: nowrap;
  }
  
  .pos2 {
    margin-top: 0px;
    margin-left: 80px;
    width: 26px;
    height: 18px;
    text-align: left;
    font: normal normal 600 13px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #615C5C;
    opacity: 1;
    white-space: nowrap;
  }
  
  .card4 div p {
    margin-top: 0px;
    margin-left: 10px;
    width: 237px;
    height: 126px;
    text-align: left;
    font: normal normal bold 13px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  .card4 .card4_img_top1 {
    margin-top: -10px;
    margin-left: 200px;
    margin-right: -40px;
    width: 14px;
    height: 14px;
    opacity: 1;
    background: transparent url('img/star-bookmark-favorite-shape-rank-16-28621.png') 0% 0% no-repeat padding-box;
  }
  
  .card4 .card4_img_top2 {
    margin-top: -10px;
    margin-right: -40px;
    width: 14px;
    height: 14px;
    opacity: 1;
    background: transparent url('img/star-bookmark-favorite-shape-rank-16-28621.png') 0% 0% no-repeat padding-box;
  }
  
  .card4 .card4_img_top3 {
    margin-top: -10px;
    margin-right: -40px;
    width: 14px;
    height: 14px;
    opacity: 1;
    background: transparent url('img/star-bookmark-favorite-shape-rank-16-28621.png') 0% 0% no-repeat padding-box;
  }
  
  .card4 .card4_img_top4 {
    margin-top: -10px;
    margin-right: -40px;
    width: 14px;
    height: 14px;
    opacity: 1;
    background: transparent url('img/star-bookmark-favorite-shape-rank-16-28621.png') 0% 0% no-repeat padding-box;
  }
  
  /**********************************  Heading 4 *******************************/
  .Heading4 {
    margin-top: 350px;
    margin-left: 200px;
    width: 888px;
    height: 47px;
    text-align: left;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  /**********************************  Cards 5  *********************************/
  /********************************  First Cards  *******************************/
  .card5_1 {
    margin-top: 160px;
    margin-left: 200px;
    width: 185px;
    height: 58px;
    background: #eaeaea;
    opacity: 1;
  }
  
  .card5_1 h5 {
    margin-top: 20px;
  }
  
  /********************************  Second Cards  ******************************/
  .card5_2 {
    margin-top: 140px;
    margin-left: 180px;
    width: 177px;
    height: 100px;
    background: transparent url('img/d255eaed-electroneek-logobig_104x02s000000000000028.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    white-space: nowrap;
  }
  
  .card5_2 h5 {
    margin-top: -2px;
  }
  
  /********************************  Third Cards  *******************************/
  .card5_3 {
    margin-top: 140px;
    margin-left: 180px;
    width: 92px;
    height: 92px;
    opacity: 1;
    white-space: nowrap;
  }
  
  .card5_3 h5 {
    margin-top: 5px;
  }
  
  /***********************************  Footer  *********************************/
  .Footer {
    margin-top: 230px;
    margin-left: 140px;
    width: 1280px;
    height: 369px;
    background: #000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }
  
  .Footer p {
    margin-top: 290px;
    margin-left: 598px;
    width: 126px;
    height: 24px;
    text-align: center;
    font: normal normal 16px/24px Nunito Sans;
    letter-spacing: 0px;
    color: #FFF;
    opacity: 1;
    white-space: nowrap;
  }
}
}  